@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

body,html {
  margin: 0;
  width: 100svw;
  height: 100svh;
  overscroll-behavior: none;
  padding: 0;
}

.login-card-transition-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.login-card-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.login-card-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.login-card-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
/* CSS */
.anim-fade-out {
  transition: opacity 1s;
}
